# Amazon Book Reviews Data preprocessing

In [1]:
import pandas as pd
import numpy as np
import gzip

In [2]:
def parse(path):
  g = gzip.open(path, 'r')
  for l in g:
    yield eval(l)

In [3]:
from datetime import datetime

# 定义日期字符串和对应的格式
date_str = "2012-01-01 00:00:00"
date_format = "%Y-%m-%d %H:%M:%S"

# 将字符串解析为 datetime 对象
dt = datetime.strptime(date_str, date_format)

timestamp = dt.timestamp()

print("日期:", dt)
print("时间戳:", timestamp)

日期: 2012-01-01 00:00:00
时间戳: 1325404800.0

In [4]:
path = "reviews_Books_5.json.gz"

In [5]:
reviews = [r for r in parse(path) if r['unixReviewTime'] > timestamp]
reviews[0]

{'reviewerID': 'A10000012B7CGYKOMPQ4L',
 'asin': '000100039X',
 'reviewerName': 'Adam',
 'helpful': [0, 0],
 'reviewText': 'Spiritually and mentally inspiring! A book that allows you to question your morals and will help you discover who you really are!',
 'overall': 5.0,
 'summary': 'Wonderful!',
 'unixReviewTime': 1355616000,
 'reviewTime': '12 16, 2012'}

In [6]:
meta_path = 'meta_Books.json.gz'

In [7]:
metainfo = [m for m in parse(meta_path)]
metainfo[0]

{'asin': '0001048791',
 'salesRank': {'Books': 6334800},
 'imUrl': 'http://ecx.images-amazon.com/images/I/51MKP0T4DBL.jpg',
 'categories': [['Books']],
 'title': 'The Crucible: Performed by Stuart Pankin, Jerome Dempsey &amp; Cast'}

In [8]:
serenbooks_df = pd.read_csv("SerenLens/Dataset/SerenLens_Books.csv")
serenbooks_df.head()

,user_id,item_id,timestamp,review,rating,label
0,a10e3f50diujee,0061148512,1196899200,i have always loved this book. plath's litera...,5.0,0.0
1,a10e3f50diujee,0786718617,1199750400,assia is infamous for being the woman who ende...,4.0,0.0
2,a10e3f50diujee,0446617687,1212624000,"because i am a fan of the show, i sought out t...",3.0,0.0
3,a10e3f50diujee,0375725601,1212969600,erik larson took on quite a task with this wor...,5.0,0.0
4,a10e3f50diujee,0141800356,1215043200,"although there are hundreds of reviews, i had ...",5.0,0.0

In [9]:
len(serenbooks_df['user_id'].unique())

2346

In [10]:
serenbooks_df['user_id'].value_counts(ascending=True)

user_id
a1j1nlb7qkb6bi      10
ae97uca5l0tzi       10
aszjstlow9lxk       10
a36yh1uu9x8kee      10
a1pallp4aj87us      10
                  ...
a3m174ic0vxos2    1576
a1k1jw1c5cusuz    2910
a13qtz8cimhhg4    2949
ahut55e980rdr     3091
a2f6n60z96caji    5891
Name: count, Length: 2346, dtype: int64

In [11]:
len(reviews)

6130337

In [12]:
reviews_df = pd.DataFrame(reviews)
reviews_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A10000012B7CGYKOMPQ4L,000100039X,Adam,"[0, 0]",Spiritually and mentally inspiring! A book tha...,5.0,Wonderful!,1355616000,"12 16, 2012"
1,A1BM81XB4QHOA3,000100039X,"Ahoro Blethends ""Seriously""","[0, 0]",This book provides a reflection that you can a...,5.0,Must Read for Life Afficianados,1390003200,"01 18, 2014"
2,A3V1MKC2BVWY48,000100039X,Alex Dawson,"[0, 0]",Reading this made my mind feel like a still po...,5.0,This book will bring you peace,1390780800,"01 27, 2014"
3,A29TRDMK51GKZR,000100039X,Alpine Plume,"[0, 0]","Deep, moving dramatic verses of the heart and ...",5.0,Such Beauty,1383436800,"11 3, 2013"
4,A3FI0744PG1WYG,000100039X,"Always Reading ""tkm""","[0, 0]",This is a timeless classic. Over the years I'...,5.0,The Prophet,1390953600,"01 29, 2014"

In [13]:
serenbooks_df['user_id'] = serenbooks_df['user_id'].apply(lambda x: x.upper())

In [14]:
serenbooks_df['item_id'] = serenbooks_df['item_id'].apply(lambda x: x.upper())

In [15]:
serenbooks_df.head(10)

,user_id,item_id,timestamp,review,rating,label
0,A10E3F50DIUJEE,0061148512,1196899200,i have always loved this book. plath's litera...,5.0,0.0
1,A10E3F50DIUJEE,0786718617,1199750400,assia is infamous for being the woman who ende...,4.0,0.0
2,A10E3F50DIUJEE,0446617687,1212624000,"because i am a fan of the show, i sought out t...",3.0,0.0
3,A10E3F50DIUJEE,0375725601,1212969600,erik larson took on quite a task with this wor...,5.0,0.0
4,A10E3F50DIUJEE,0141800356,1215043200,"although there are hundreds of reviews, i had ...",5.0,0.0
5,A10E3F50DIUJEE,0743249895,1215388800,levy is a brilliant writer with a colloquial s...,5.0,0.0
6,A10E3F50DIUJEE,0812817079,1215648000,i have always been a fan of marilyn monroe. i...,5.0,0.0
7,A10E3F50DIUJEE,0060957905,1216080000,a big thank you to joyce carol oates for compi...,4.0,0.0
8,A10E3F50DIUJEE,0345439104,1218499200,this book is definitely a good book. reading ...,4.0,0.0
9,A10E3F50DIUJEE,0099440784,1219276800,while doing a research paper about chinese fem...,5.0,1.0

In [16]:
usercount = reviews_df['reviewerID'].value_counts()
itemcount = reviews_df['asin'].value_counts()
valid_users = usercount[usercount >= 10].index
valid_items = itemcount[itemcount >= 20].index
seren_users = serenbooks_df['user_id'].unique()
filtered_reviews = reviews_df[reviews_df['reviewerID'].isin(valid_users) & reviews_df['asin'].isin(valid_items)]
print(f"valid users: {len(valid_users)}")
print(f"valid items: {len(valid_items)}")
print(f"filtered interactions: {filtered_reviews.shape}")

valid users: 152704
valid items: 64640
filtered interactions: (2937929, 9)

In [17]:
all_users = np.union1d(seren_users, valid_users)
len(all_users)

153639

In [18]:
valid_users

Index(['AFVQZQ8PW0L', 'AHUT55E980RDR', 'A13QTZ8CIMHHG4', 'A328S9RN3U5M68',
       'A1JLU5H1CCENWX', 'A2F6N60Z96CAJI', 'A1JKGTL51HHTU1', 'A2VXSQHJWZAQGY',
       'A2OJW07GQRNJUT', 'A37BRR2L8PX3R2',
       ...
       'A2BO2FZ2HP1OAI', 'ANAGPRVNUWKJQ', 'A1LY1U3RD6ECAE', 'A1EMR73OFGV40A',
       'A1AJUG8QU3LOCI', 'A2KQZ0W9WO5Y3F', 'A1QCICN4MSAKAU', 'A34CT35JN3U1A6',
       'AGZ17QX48VVE7', 'A3D71P56OFOBMN'],
      dtype='object', name='reviewerID', length=152704)

In [19]:
seren_users

array(['A10E3F50DIUJEE', 'A10F5LMYPXQYDF', 'A10F8DLU94ACKP', ...,
       'AZVOBYTOJNTQX', 'AZWC9XAY34IPW', 'AZWMYTK7G5KQT'],
      shape=(2346,), dtype=object)

In [20]:
missing_users = np.setdiff1d(seren_users, valid_users)
if len(missing_users) > 0:
    print(f"有 {len(missing_users)} 个用户在serenbooks.csv中但在 reviews 中交互少于 10 次")
    # 对于这些用户，我们仍然保留他们的所有交互记录
    missing_interactions = reviews_df[reviews_df['reviewerID'].isin(missing_users)]
    if len(missing_interactions) > 0:
        filtered_reviews = pd.concat([filtered_reviews, missing_interactions])

有 935 个用户在serenbooks.csv中但在 reviews 中交互少于 10 次

In [21]:
print(len(missing_users))

935

In [22]:
len(seren_users)

2346

In [23]:
unique_user_ids = filtered_reviews['reviewerID'].unique()
unique_item_ids = filtered_reviews['asin'].unique()

In [24]:
# 创建映射字典
user_id_map = {old_id: new_id for new_id, old_id in enumerate(unique_user_ids, 1)}
item_id_map = {old_id: new_id for new_id, old_id in enumerate(unique_item_ids, 1)}

In [25]:
# 应用映射到交互数据
filtered_interactions_mapped = filtered_reviews.copy()
filtered_interactions_mapped['user_id'] = filtered_interactions_mapped['reviewerID'].map(user_id_map)
filtered_interactions_mapped['item_id'] = filtered_interactions_mapped['asin'].map(item_id_map)

In [26]:
filtered_interactions_mapped.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,user_id,item_id
3,A29TRDMK51GKZR,000100039X,Alpine Plume,"[0, 0]","Deep, moving dramatic verses of the heart and ...",5.0,Such Beauty,1383436800,"11 3, 2013",1,1
6,A2KU9IU07LOJS1,000100039X,Amazon Customer,"[0, 0]",This book has been a classic for many years. I...,5.0,Great classic that everyone should read,1384905600,"11 20, 2013",2,1
9,A3FFNE1DR5SI1W,000100039X,A. Morelli,"[1, 1]",Can't say enough about Kahlil Gibran's work am...,5.0,phenomenal piece of literature!,1340755200,"06 27, 2012",3,1
10,A1TT4CY55WLHAR,000100039X,anonymous,"[0, 0]","I have the 1972 version, bought in 1974. The 1...",5.0,"textured paper, old-style typography, and leat...",1342396800,"07 16, 2012",4,1
14,AF7CSSGV93RXN,000100039X,"A. William Benitez ""A. William Benitez""","[5, 6]",I first read The Prophet by Kahlil Gibran over...,5.0,A Great Little Gift,1331510400,"03 12, 2012",5,1

In [27]:
# 应用映射到意外发现数据
seren_df_mapped = serenbooks_df.copy()
seren_df_mapped['user_id'] = seren_df_mapped['user_id'].map(user_id_map)
seren_df_mapped['item_id'] = seren_df_mapped['item_id'].map(item_id_map)
seren_df_mapped.head()

,user_id,item_id,timestamp,review,rating,label
0,18002.0,935.0,1196899200,i have always loved this book. plath's litera...,5.0,0.0
1,18002.0,NaN,1199750400,assia is infamous for being the woman who ende...,4.0,0.0
2,18002.0,12693.0,1212624000,"because i am a fan of the show, i sought out t...",3.0,0.0
3,18002.0,9395.0,1212969600,erik larson took on quite a task with this wor...,5.0,0.0
4,18002.0,3457.0,1215043200,"although there are hundreds of reviews, i had ...",5.0,0.0

In [28]:
meta_df = pd.DataFrame(metainfo)
meta_df.head()

,asin,salesRank,imUrl,categories,title,description,price,related,brand
0,0001048791,{'Books': 6334800},http://ecx.images-amazon.com/images/I/51MKP0T4...,[[Books]],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,NaN,NaN
1,0001048775,{'Books': 13243226},http://ecx.images-amazon.com/images/I/5166EBHD...,[[Books]],Measure for Measure: Complete &amp; Unabridged,William Shakespeare is widely regarded as the ...,NaN,NaN,NaN
2,0001048236,{'Books': 8973864},http://ecx.images-amazon.com/images/I/51DH145C...,[[Books]],The Sherlock Holmes Audio Collection,"&#34;One thing is certain, Sherlockians, put a...",9.26,"{'also_viewed': ['1442300191', '9626349786', '...",NaN
3,0000401048,{'Books': 6448843},http://ecx.images-amazon.com/images/I/41bchvIf...,[[Books]],The rogue of publishers' row;: Confessions of ...,NaN,NaN,{'also_viewed': ['068240103X']},NaN
4,0001019880,{'Books': 9589258},http://ecx.images-amazon.com/images/I/61LcHUdv...,[[Books]],Classic Soul Winner's New Testament Bible,NaN,5.39,"{'also_viewed': ['B003HMB5FC', '0834004593'], ...",NaN

In [29]:
# 应用映射到电影元数据
meta_df_mapped = meta_df.copy()
# 只保留出现在交互数据中的电影
meta_df_mapped = meta_df_mapped[meta_df_mapped['asin'].isin(unique_item_ids)]
meta_df_mapped['item_id'] = meta_df_mapped['asin'].map(item_id_map)

In [30]:
filtered_interactions_mapped['timestamp'] = filtered_interactions_mapped['unixReviewTime']

In [31]:
filtered_interactions_mapped['rating'] = filtered_interactions_mapped['overall']

In [32]:
# 5. 按时间戳排序，为每个用户构建交互序列
filtered_interactions_mapped = filtered_interactions_mapped.sort_values(['user_id', 'timestamp'])

# 6. 检查映射后的数据
print(f"映射后的交互数据: {filtered_interactions_mapped.shape}")
print(f"映射后的用户数: {len(filtered_interactions_mapped['user_id'].unique())}")
print(f"映射后的item数: {len(filtered_interactions_mapped['item_id'].unique())}")

映射后的交互数据: (2940484, 13)
映射后的用户数: 152776
映射后的item数: 65631

In [33]:
density  = filtered_interactions_mapped.shape[0] / (len(filtered_interactions_mapped['user_id'].unique()) * len(filtered_interactions_mapped['item_id'].unique()))
print(f"Density: {density * 100:.2f}%")

Density: 0.03%

In [34]:
seren_df_mapped.head()

,user_id,item_id,timestamp,review,rating,label
0,18002.0,935.0,1196899200,i have always loved this book. plath's litera...,5.0,0.0
1,18002.0,NaN,1199750400,assia is infamous for being the woman who ende...,4.0,0.0
2,18002.0,12693.0,1212624000,"because i am a fan of the show, i sought out t...",3.0,0.0
3,18002.0,9395.0,1212969600,erik larson took on quite a task with this wor...,5.0,0.0
4,18002.0,3457.0,1215043200,"although there are hundreds of reviews, i had ...",5.0,0.0

In [35]:
filtered_interactions_mapped.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,user_id,item_id,timestamp,rating
3023832,A29TRDMK51GKZR,1442341165,Alpine Plume,"[0, 7]",Don't waste your time or money on this juvenil...,1.0,"Waste of time just like her ""Why Not"" show",1343692800,"07 31, 2012",1,30115,1343692800,1.0
410275,A29TRDMK51GKZR,0143144006,Alpine Plume,"[0, 0]",Excellant first hand account by a scientist wh...,5.0,Review of My Stroke of Insight,1360713600,"02 13, 2013",1,3959,1360713600,5.0
1802831,A29TRDMK51GKZR,0679723951,Alpine Plume,"[0, 1]",Chose this because it was written by Jung hims...,5.0,Jung's Own Words,1364515200,"03 29, 2013",1,17110,1364515200,5.0
623636,A29TRDMK51GKZR,0312082622,Alpine Plume,"[0, 1]",Great book written about a woman by a woman.Fi...,5.0,Historically accurate without being boring,1368144000,"05 10, 2013",1,5783,1368144000,5.0
1667879,A29TRDMK51GKZR,0615591949,Alpine Plume,"[2, 2]",THE BEST !This book really tells it like is fo...,5.0,Simply THE BEST !,1383350400,"11 2, 2013",1,15714,1383350400,5.0

In [36]:
# 7. 保存处理后的数据
# 保存主要交互数据
filtered_interactions_mapped[['user_id', 'item_id', 'rating', 'timestamp']].to_csv('books/processed_interactions.csv', index=False)

# 保存意外发现数据
if not seren_df_mapped.empty:
    # 确保映射的item_id不是NaN（某些电影可能在过滤后的交互中不存在）
    seren_df_mapped = seren_df_mapped.dropna(subset=['user_id', 'item_id'])
    seren_df_mapped['serendipity'] = seren_df_mapped['label']
    seren_df_mapped[['user_id', 'item_id', 'rating', 'timestamp', 'serendipity']].to_csv('books/processed_serendipity.csv', index=False)

# 保存电影元数据
meta_df_mapped[['item_id', 'title', 'description']].to_csv('books/processed_books.csv', index=False)

print("数据预处理完成!")

数据预处理完成!

In [37]:
seren_df_mapped['serendipity'].value_counts()

serendipity
0.0    125956
1.0      1320
Name: count, dtype: int64

In [39]:
len(seren_df_mapped['user_id'].unique())

1977

In [38]:
set(seren_df_mapped['user_id'].unique().tolist()) < set(filtered_interactions_mapped['user_id'].unique().tolist())

True

In [40]:
len(filtered_interactions_mapped)

2940484