In [1]:
import pandas as pd
import numpy as np
import gzip

In [2]:
def parse(path):
  g = gzip.open(path, 'r')
  for l in g:
    yield eval(l)

In [3]:
from datetime import datetime

# 定义日期字符串和对应的格式
date_str = "2012-01-01 00:00:00"
date_format = "%Y-%m-%d %H:%M:%S"

# 将字符串解析为 datetime 对象
dt = datetime.strptime(date_str, date_format)

timestamp = dt.timestamp()

print("日期:", dt)
print("时间戳:", timestamp)

日期: 2012-01-01 00:00:00
时间戳: 1325404800.0

In [6]:
path = "reviews_Movies_and_TV_5.json.gz"

In [7]:
reviews = [r for r in parse(path) if r['unixReviewTime'] > timestamp]
reviews[0], len(reviews)

({'reviewerID': 'A35947ZP82G7JH',
  'asin': '0005019281',
  'reviewerName': 'Amarah Strack',
  'helpful': [0, 0],
  'reviewText': 'It was good but not as emotionally moving as the the Christmas Carol by Dickens  I like Christmas movies that make me sigh',
  'overall': 3.0,
  'summary': 'Good but not as moving',
  'unixReviewTime': 1388361600,
  'reviewTime': '12 30, 2013'},
 790050)

In [8]:
meta_path = 'meta_Movies_and_TV.json.gz'

In [9]:
metainfo = [m for m in parse(meta_path)]
metainfo[0]

{'asin': '0000143561',
 'categories': [['Movies & TV', 'Movies']],
 'description': '3Pack DVD set - Italian Classics, Parties and Holidays.',
 'title': 'Everyday Italian (with Giada de Laurentiis), Volume 1 (3 Pack): Italian Classics, Parties, Holidays',
 'price': 12.99,
 'salesRank': {'Movies & TV': 376041},
 'imUrl': 'http://g-ecx.images-amazon.com/images/G/01/x-site/icons/no-img-sm._CB192198896_.gif',
 'related': {'also_viewed': ['B0036FO6SI',
   'B000KL8ODE',
   '000014357X',
   'B0037718RC',
   'B002I5GNVU',
   'B000RBU4BM'],
  'buy_after_viewing': ['B0036FO6SI',
   'B000KL8ODE',
   '000014357X',
   'B0037718RC']}}

In [10]:
serenmovies_df = pd.read_csv("SerenLens/Dataset/SerenLens_Movies.csv")
serenmovies_df.head()

,user_id,item_id,timestamp,review,rating,label
0,a105d0ukk3356e,b018ene3g6,1377993600,during the eighties when saban and dic enterta...,5,0.0
1,a105d0ukk3356e,b0014faiys,1209686400,the sixth season was always the 'infamous' one...,4,0.0
2,a105d0ukk3356e,b000nvt0mu,1180483200,"first off, i have to give kudos to ink & paint...",5,0.0
3,a105d0ukk3356e,b00125way6,1204502400,"before melissa joan hart, before the dic anima...",5,0.0
4,a105d0ukk3356e,b005laiib2,1379808000,it's funny how hollywood loves making wedding ...,4,0.0

In [11]:
len(serenmovies_df['user_id'].unique())

622

In [14]:
serenmovies_df['user_id'].value_counts(ascending=True)

user_id
 when i started to watch this set i couldn't wait for the next episode. twin peaks holds up as a phenomena that earned it's title       1
her at the end                                                                                                                          1
a4u5citc1jb05                                                                                                                          10
ame7x7ig69skg                                                                                                                          10
a1zm45nj4dpg4n                                                                                                                         10
                                                                                                                                     ...
a2njo6ye954dbh                                                                                                                       1456
a1d2c0wdcshuwz                                                                                                                       1491
aimr915k4ycn                                                                                                                         1607
ancomai0i7lvg                                                                                                                        1655
a2edzh51xhfa9b                                                                                                                       1766
Name: count, Length: 621, dtype: int64

In [15]:
reviews_df = pd.DataFrame(reviews)
reviews_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A35947ZP82G7JH,0005019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3.0,Good but not as moving,1388361600,"12 30, 2013"
1,A3UORV8A9D5L2E,0005019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3.0,Winkler's Performance was ok at best!,1388361600,"12 30, 2013"
2,A3R27T4HADWFFJ,0005019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4.0,Best Scrooge yet,1387670400,"12 22, 2013"
3,A2L0G56BNOTX6S,0005019281,barbara whapeles,"[0, 0]",This has been a favorite movie of mine for a l...,5.0,Dickens updated.,1383696000,"11 6, 2013"
4,AWF2S3UNW9UA0,0005019281,beth holman,"[0, 0]",A good Christmas carol dhenry winkler one duri...,5.0,an american christmas carol,1386201600,"12 5, 2013"

In [17]:
serenmovies_df['user_id'] = serenmovies_df['user_id'].apply(lambda x: str(x).upper())

In [19]:
serenmovies_df['item_id'] = serenmovies_df['item_id'].apply(lambda x: str(x).upper())

In [20]:
serenmovies_df.head()

,user_id,item_id,timestamp,review,rating,label
0,A105D0UKK3356E,B018ENE3G6,1377993600,during the eighties when saban and dic enterta...,5,0.0
1,A105D0UKK3356E,B0014FAIYS,1209686400,the sixth season was always the 'infamous' one...,4,0.0
2,A105D0UKK3356E,B000NVT0MU,1180483200,"first off, i have to give kudos to ink & paint...",5,0.0
3,A105D0UKK3356E,B00125WAY6,1204502400,"before melissa joan hart, before the dic anima...",5,0.0
4,A105D0UKK3356E,B005LAIIB2,1379808000,it's funny how hollywood loves making wedding ...,4,0.0

In [21]:
usercount = reviews_df['reviewerID'].value_counts()
itemcount = reviews_df['asin'].value_counts()
valid_users = usercount[usercount >= 5].index
valid_items = itemcount[itemcount >= 5].index
seren_users = serenmovies_df['user_id'].unique()
filtered_reviews = reviews_df[reviews_df['reviewerID'].isin(valid_users) & reviews_df['asin'].isin(valid_items)]
print(f"valid users: {len(valid_users)}")
print(f"valid items: {len(valid_items)}")
print(f"filtered interactions: {filtered_reviews.shape}")

valid users: 69993
valid items: 27560
filtered interactions: (695787, 9)

In [22]:
all_users = np.union1d(seren_users, valid_users)
len(all_users)

70271

In [23]:
missing_users = np.setdiff1d(seren_users, valid_users)
if len(missing_users) > 0:
    print(f"有 {len(missing_users)} 个用户在serenbooks.csv中但在 reviews 中交互少于 5 次")
    # 对于这些用户，我们仍然保留他们的所有交互记录
    missing_interactions = reviews_df[reviews_df['reviewerID'].isin(missing_users)]
    if len(missing_interactions) > 0:
        filtered_reviews = pd.concat([filtered_reviews, missing_interactions])

有 278 个用户在serenbooks.csv中但在 reviews 中交互少于 5 次

In [24]:
unique_user_ids = filtered_reviews['reviewerID'].unique()
unique_item_ids = filtered_reviews['asin'].unique()

In [25]:
# 创建映射字典
user_id_map = {old_id: new_id for new_id, old_id in enumerate(unique_user_ids, 1)}
item_id_map = {old_id: new_id for new_id, old_id in enumerate(unique_item_ids, 1)}

In [26]:
# 应用映射到交互数据
filtered_interactions_mapped = filtered_reviews.copy()
filtered_interactions_mapped['user_id'] = filtered_interactions_mapped['reviewerID'].map(user_id_map)
filtered_interactions_mapped['item_id'] = filtered_interactions_mapped['asin'].map(item_id_map)

In [27]:
# 应用映射到意外发现数据
seren_df_mapped = serenmovies_df.copy()
seren_df_mapped['user_id'] = seren_df_mapped['user_id'].map(user_id_map)
seren_df_mapped['item_id'] = seren_df_mapped['item_id'].map(item_id_map)
seren_df_mapped.head()

,user_id,item_id,timestamp,review,rating,label
0,70060.0,NaN,1377993600,during the eighties when saban and dic enterta...,5,0.0
1,70060.0,15216.0,1209686400,the sixth season was always the 'infamous' one...,4,0.0
2,70060.0,NaN,1180483200,"first off, i have to give kudos to ink & paint...",5,0.0
3,70060.0,NaN,1204502400,"before melissa joan hart, before the dic anima...",5,0.0
4,70060.0,21734.0,1379808000,it's funny how hollywood loves making wedding ...,4,0.0

In [28]:
meta_df = pd.DataFrame(metainfo)
meta_df.head()

,asin,categories,description,title,price,salesRank,imUrl,related,brand
0,0000143561,"[[Movies & TV, Movies]]","3Pack DVD set - Italian Classics, Parties and ...","Everyday Italian (with Giada de Laurentiis), V...",12.99,{'Movies & TV': 376041},http://g-ecx.images-amazon.com/images/G/01/x-s...,"{'also_viewed': ['B0036FO6SI', 'B000KL8ODE', '...",NaN
1,0000589012,"[[Movies & TV, Movies]]",NaN,Why Don't They Just Quit? DVD Roundtable Discu...,15.95,{'Movies & TV': 1084845},http://ecx.images-amazon.com/images/I/519%2B1k...,"{'also_bought': ['B000Z3N1HQ', '0578045427', '...",NaN
2,0000695009,"[[Movies & TV, Movies]]",NaN,Understanding Seizures and Epilepsy DVD,NaN,{'Movies & TV': 1022732},http://g-ecx.images-amazon.com/images/G/01/x-s...,NaN,NaN
3,000107461X,"[[Movies & TV, Movies]]",NaN,Live in Houston [VHS],NaN,{'Movies & TV': 954116},http://ecx.images-amazon.com/images/I/41WY47gL...,NaN,NaN
4,0000143529,"[[Movies & TV, Movies]]",Disc 1: Flour Power (Scones; Shortcakes; South...,My Fair Pastry (Good Eats Vol. 9),19.99,{'Movies & TV': 463562},http://ecx.images-amazon.com/images/I/51QY79CD...,"{'also_bought': ['B000NR4CRM', 'B0019BK3KQ', '...",NaN

In [29]:
# 应用映射到电影元数据
meta_df_mapped = meta_df.copy()
# 只保留出现在交互数据中的电影
meta_df_mapped = meta_df_mapped[meta_df_mapped['asin'].isin(unique_item_ids)]
meta_df_mapped['item_id'] = meta_df_mapped['asin'].map(item_id_map)

In [30]:
filtered_interactions_mapped['timestamp'] = filtered_interactions_mapped['unixReviewTime']

In [31]:
filtered_interactions_mapped['rating'] = filtered_interactions_mapped['overall']

In [32]:
# 5. 按时间戳排序，为每个用户构建交互序列
filtered_interactions_mapped = filtered_interactions_mapped.sort_values(['user_id', 'timestamp'])

# 6. 检查映射后的数据
print(f"映射后的交互数据: {filtered_interactions_mapped.shape}")
print(f"映射后的用户数: {len(filtered_interactions_mapped['user_id'].unique())}")
print(f"映射后的item数: {len(filtered_interactions_mapped['item_id'].unique())}")

映射后的交互数据: (696017, 13)
映射后的用户数: 70082
映射后的item数: 27580

In [33]:
density  = filtered_interactions_mapped.shape[0] / (len(filtered_interactions_mapped['user_id'].unique()) * len(filtered_interactions_mapped['item_id'].unique()))
print(f"Density: {density * 100:.2f}%")

Density: 0.04%

In [34]:
seren_df_mapped.head()

,user_id,item_id,timestamp,review,rating,label
0,70060.0,NaN,1377993600,during the eighties when saban and dic enterta...,5,0.0
1,70060.0,15216.0,1209686400,the sixth season was always the 'infamous' one...,4,0.0
2,70060.0,NaN,1180483200,"first off, i have to give kudos to ink & paint...",5,0.0
3,70060.0,NaN,1204502400,"before melissa joan hart, before the dic anima...",5,0.0
4,70060.0,21734.0,1379808000,it's funny how hollywood loves making wedding ...,4,0.0

In [36]:
# 7. 保存处理后的数据
# 保存主要交互数据
filtered_interactions_mapped[['user_id', 'item_id', 'rating', 'timestamp']].to_csv('moviestv/processed_interactions.csv', index=False)

# 保存意外发现数据
if not seren_df_mapped.empty:
    # 确保映射的item_id不是NaN（某些电影可能在过滤后的交互中不存在）
    seren_df_mapped = seren_df_mapped.dropna(subset=['user_id', 'item_id'])
    seren_df_mapped['serendipity'] = seren_df_mapped['label']
    seren_df_mapped[['user_id', 'item_id', 'rating', 'timestamp', 'serendipity']].to_csv('moviestv/processed_serendipity.csv', index=False)

# 保存电影元数据
meta_df_mapped[['item_id', 'title', 'description']].to_csv('moviestv/processed_movies.csv', index=False)

print("数据预处理完成!")

数据预处理完成!